.sobre__imagen{
    height: 20rem;
    border-radius: 10%;
    border: .3rem solid var(--letra-azul-pastel);
}

@media screen and (min-width:421px) and (max-width:899px){
    .sobre__imagen{
        height: 15rem;
        border-radius: 10%;
        border: .3rem solid var(--letra-azul-pastel);
    }
}
