@media screen and (max-width:420px){
    .sobre__contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .sobre__contenedor2{
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width:421px) and (max-width:899px){
    .sobre__contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    .sobre__contenedor2{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
}

@media screen and (min-width:900px){
    .sobre__contenedor{
        display: flex;
        align-items: center;
        padding: 2rem;
    }
    .sobre__contenedor2{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
}