@media screen and (max-width:420px){
    .menu__item{
        text-align: center;
    }
}

@media screen and (max-width:768px){
    .menu__lista{
        display: flex;
    }
}

@media screen and (min-width:992px){
    .menu__lista{
        display: flex;
    }
}