@media screen and (max-width:420px){
    .menu__item{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:421px) and (max-width:899px){
    .menu__lista{
        display: flex;
        flex-wrap: wrap;
        width: 66%;
    }
}

@media screen and (min-width:900px){
    .menu__lista{
        display: flex;
    }
}