@media screen and (max-width:420px){
    .inicio__contenedor--principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inicio__contenedor1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inicio__contenedor2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: .1rem;
        padding-right: .1rem;
    }
}

@media screen and (min-width:421px) and (max-width:899px){
    .inicio__contenedor--principal{
        display: flex;
        align-items: center;
        margin: 2rem 1rem 2rem 1rem;
    }
    .inicio__contenedor1{
        display: flex;
    }
    .inicio__contenedor2{
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
    }
}

@media screen and (min-width:900px){
    .inicio__contenedor--principal{
        display: flex;
        align-items: center;
        margin: 3rem 5rem 3rem 5rem;
    }
    .inicio__contenedor1{
        display: flex;
    }
    .inicio__contenedor2{
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
    }
}