@media screen and (max-width:420px){
    .inicio{
        display: flex;
        flex-direction: column;
        background-color: var(--background-azul-pastel);
    }
}

@media screen and (min-width:421px) and (max-width:899px){
    .inicio{
        display: flex;
        background-color: var(--background-azul-pastel);
    }
}

@media screen and (min-width:900px){
    .inicio{
        display: flex;
        background-color: var(--background-azul-pastel);
        height: 40.5vw;
    }
}