@media screen and (max-width:420px){
    .inicio__descripcion{
        text-align: justify;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
    }
    
}

@media screen and (min-width:421px) and (max-width:899px){
    .inicio__descripcion{
        text-align: left;
        color: var(--letra-negra);
        font-size: 1.2rem;
        margin-top: .5rem;
        font-style: italic;
    }
}

@media screen and (min-width:900px){
    .inicio__descripcion{
        text-align: left;
        color: var(--letra-negra);
        font-size: 1.2rem;
        margin-top: .5rem;
        font-style: italic;
    }
}