@media screen and (max-width:420px){
    .inicio__titulo1{
        font-size: 2.5rem;
        text-align: center;
        color: var(--letra-negra);
    }
    .inicio__titulo2{
        background: linear-gradient(to right, #ff00c8, #00aeff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 3rem;
    }
}

@media screen and (min-width:421px) and (max-width:899px){
    .inicio__titulo1{
        font-size: 1.6rem;
        text-align: left;
        color: var(--letra-negra);
    }
    .inicio__titulo2{
        background: linear-gradient(to right, #ff00c8, #00aeff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
        font-size: 1.6rem;
    }
}

@media screen and (min-width:900px){
    .inicio__titulo1{
        font-size: 3rem;
        text-align: left;
        color: var(--letra-negra);
    }
    .inicio__titulo2{
        background: linear-gradient(to right, #ff00c8, #00aeff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
        font-size: 3rem;
    }
}