@media screen and (max-width:420px){
    .contacto__formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 1.5rem;
        background-color: var(--letra-vintage);
        border-radius: 2rem;
        border: .2rem solid var(--borde-gris);
        height: 24rem;
    }
}

@media screen and (min-width:421px) and (max-width:899px){
    .contacto__formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 2rem;
        background-color: var(--letra-vintage);
        border-radius: 2rem;
        border: .2rem solid var(--borde-gris);
        height: 23rem;
    }
}

@media screen and (min-width:900px){
    .contacto__formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 2rem;
        background-color: var(--letra-vintage);
        border-radius: 2rem;
        border: .2rem solid var(--borde-gris);
        height: 24rem;
    }
}