@media screen and (max-width:420px){
    .contacto{
        background-color: var(--background-azul-pastel);
        align-items: center;
    }
    .contacto__titulo{
        color: var(--letra-negra);
        text-align: center;
        font-size: 2rem;
        padding-top: 1rem;
    }
}

@media screen and (min-width:421px) and (max-width:899px){
    .contacto{
        background-color: var(--background-azul-pastel);
        align-items: center;
    }
    
    .contacto__titulo{
        color: var(--letra-negra);
        text-align: center;
        font-size: 2rem;
        padding-top: 1rem;
    }
}

@media screen and (min-width:900px){
    .contacto{
        background-color: var(--background-azul-pastel);
        align-items: center;
        height: 40.5vw;
    }
    
    .contacto__titulo{
        color: var(--letra-negra);
        text-align: center;
        font-size: 30px;
        padding-top: 1rem;
    }
}