@media screen and (max-width:420px){
    .contacto__imagen{
        display: none;
    }
}

@media screen and (min-width:421px) and (max-width:899px){
    .contacto__imagen{
        display: none;
    }
}

@media screen and (min-width:900px){
    .contacto__imagen{
        height: 20rem;
        width: 20rem;
    }
}